<%= stylesheet_link_tag params[:controller] %>
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h2>Eventos</h2>
      <%= link_to(icon('far', 'calendar-plus', 'Nuevo evento'), new_artist_event_path(@artist.name) , class: ['btn btn-success','new-button']) %>

      <%= render :partial => 'events_nav' %>
    </div>
  </div>
</div>