<div class="container">
  <div class="row">
    <div class="col-md-10">

      <h2>Crear evento</h2>
      <%= @button_name = 'Crear'
        render 'form', event: @event %>
    </div>
  </div>
</div>