<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Artistas que sigues</h2>
    </div>
  </div>
  <div class="row">
    <h3><%= 'Todavía no sigues a ningún artista!' if @followed_artists.to_a.size.zero? %></h3>
  <% i = 0
    loop do %>
       <%=  render partial: 'artist_data', locals: { artist: @followed_artists.next } %>

      <% i+= 1
         if (i.modulo 3).equal? 0 %>
        </div>
        <div class="row">
      <% end %>
      <% if i.equal? @followed_artists.size %>
        </div>
      <% end %>
  <% end %>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h4>Artistas que te pueden interesar..</h4>
    </div>
    <% i = 0
       loop do %>
      <%=  render partial: 'artist_data', locals: { artist: @other_artists.next } %>

      <% i+= 1
         if (i.modulo 3).equal? 0 %>
        </div>
        <div class="row">
      <% end %>
      <% if i.equal? @followed_artists.size %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>