<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Artistas que sigues</h2>
    </div>
  </div>
  <div class="row">
    <h3><%= 'Todavía no sigues a ningún artista!' if @followed_artists.to_a.size.zero? %></h3>
    <% while !@followed_artists.empty? do %>
      <% next_artists = @followed_artists.first(3)
        next_artists.each do |artist| %>
        <%=  render partial: 'artist_data', locals: { artist: artist } %>
      <% end %>
    <%  @followed_artists = @followed_artists.drop(3)
      end %>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h4>Artistas que te pueden interesar..</h4>
    </div>
    <% while !@other_artists.empty? do %>
      <% next_artists = @other_artists.first(3)
         next_artists.each do |artist| %>
        <%=  render partial: 'artist_data', locals: { artist: artist } %>
      <% end %>
    <% @other_artists = @other_artists.drop(3)
      end %>
  </div>
</div>