
@import "bootstrap";
@import "welcome";
@import "navbar";
@import "font-awesome-sprockets";
@import "font-awesome";


main{
  margin-top: 5%;
}

.login-error{
  color: red;
  font-size: x-small;
}

.login-error > p {
  margin-bottom: 0rem;
}

#register-link{
  color: white;
}

#signup-form{
  margin-top: 5%;
}

.new-button{
  margin-top: 1%;
  margin-bottom: 2%;
}

.nav-item.event-item {
  width: 33%;
}

.date {
  width: 50px;
  display: inline-block;

  .day {
    font-size: 21px;
    line-height: 1.1em;
  }
  .month { font-size: 13px; }
}

.card-title.event-title {
  display: inline-block;
}

.profile-image{
  height: 200px;
  width: 200px;
}