<div class="modal fade" id="payment-modal" tabindex="-1" role="dialog" aria-labelledby="BuyerFormModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresa tus datos para la compra</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form action="<%= buy_artist_product_path(@product.artist, @product) %>" method="post" id="paymentForm">
          <input type="number" hidden="true" id="product_id" name="product_id" value=<%= @product.id %> />
          <div class="col-sm-3 mb-3">
            <label for="units">Cantidad</label>
            <input type="number" name="units" id="units" value="1" min="0" step="1" class="form-control"/>
            <h3>Detalles del comprador</h3>
          <div>
            <div>
              <label for="email">E-mail</label>
              <input id="email" name="email" type="text" value="test@test.com"></select>
            </div>
            <div>
              <label for="docType">Tipo de documento</label>
              <select id="docType" name="docType" data-checkout="docType" type="text"></select>
            </div>
            <div>
              <label for="docNumber">Número de documento</label>
              <input id="docNumber" name="docNumber" data-checkout="docNumber" type="text"/>
            </div>
          </div>
          <h3>Detalles de la tarjeta</h3>
          <div>
            <div>
              <label for="cardholderName">Titular de la tarjeta</label>
              <input id="cardholderName" data-checkout="cardholderName" type="text">
            </div>
            <div>
              <label for="">Fecha de vencimiento</label>
              <div>
                <input type="text" placeholder="MM" id="cardExpirationMonth" data-checkout="cardExpirationMonth"
                       onselectstart="return false" onpaste="return false"
                       oncopy="return false" oncut="return false"
                       ondrag="return false" ondrop="return false" autocomplete=off>
                <span class="date-separator">/</span>
                <input type="text" placeholder="YY" id="cardExpirationYear" data-checkout="cardExpirationYear"
                       onselectstart="return false" onpaste="return false"
                       oncopy="return false" oncut="return false"
                       ondrag="return false" ondrop="return false" autocomplete=off>
              </div>
            </div>
            <div>
              <label for="cardNumber">Número de la tarjeta</label>
              <input type="text" id="cardNumber" data-checkout="cardNumber"
                     onselectstart="return false" onpaste="return false"
                     oncopy="return false" oncut="return false"
                     ondrag="return false" ondrop="return false" autocomplete=off>
            </div>
            <div>
              <label for="securityCode">Código de seguridad</label>
              <input id="securityCode" data-checkout="securityCode" type="text"
                     onselectstart="return false" onpaste="return false"
                     oncopy="return false" oncut="return false"
                     ondrag="return false" ondrop="return false" autocomplete=off>
            </div>
            <div id="issuerInput">
              <label for="issuer">Banco emisor</label>
              <select id="issuer" name="issuer" data-checkout="issuer"></select>
            </div>
            <div>
              <label for="installments">Cuotas</label>
              <select type="text" id="installments" name="installments"></select>
            </div>
            <div>
              <input type="hidden" name="paymentMethodId" id="paymentMethodId" />
              <br>
              <button type="submit">Pagar</button>
              <br>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>