<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h2>Mis productos</h2>
      <%= link_to(icon('fas', 'compact-disc', 'Nuevo producto'), new_artist_product_path(@artist.name) , class: ['btn btn-success','new-button']) %>

      <ul class="list-group">
        <% if @products.any? %>
          <% @products.each do |product| %>
            <li class="list-group-item justify-content-between">
              <div class="row">
                <div class="col-md-8">
                  <%= link_to product.title, artist_product_path(product.artist.name, product) %></div>
                <% if current_user.artist? %>
                  <div class="col-md-2">
                    <%= link_to(icon('far', 'edit', 'Editar'), edit_artist_product_path(@artist, product), class: 'btn btn-success') %>
                  </div>
                  <div class="col-md-2">
                    <%= link_to(icon('far', 'trash-alt', 'Eliminar'), artist_product_path(@artist,product), method: :delete,
                                class: 'btn btn-danger', data: { confirm: 'Desea eliminar el producto?' }) %>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>