<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h2>Mis productos</h2>
      <%= link_to(icon('fas', 'compact-disc', 'Nuevo producto'), new_artist_product_path(@artist.name) , class: ['btn btn-success','new-button']) %>

      <%= render 'products_list' %>
    </div>
  </div>
</div>