
<% if user_signed_in? %>
  <div class="col">
    <%= link_to 'Editar perfil', profile_path %>
    <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %>
  </div>
<% else %>
  <div class="col">
    <%= link_to 'Registrarse', sign_up_path %>
  </div>
  <div class="col">
    <%= link_to 'Iniciar sesion', log_in_path %>
  </div>
<% end %>